<a href="https://colab.research.google.com/github/sadafshahab12/list-comprehension-generator-function-OOP/blob/main/ControlFlow_%2B_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
num = int(input("Enter a number: "))
if num > 0:
  if num % 2 ==0:
    print("The number is positive and even.")
  else:
    print("The number is positive but odd.")

else:
  print("The number is negative.")

Enter a number: 3
The number is postive but odd.

In [8]:
def check_status_code(code):
  match code:
    case 200:
      return "OK"
    case 400:
      return "Bad Request"
    case 401:
      return "Unauthorized"
    case 403:
      return "Forbidden"
    case 404:
      return "Not Found"

check_status_code(403)

'Forbidden'

In [24]:
number = [1,2,3,4,5]
for num in number:
  print(num)
  if num == 3:
    print("Loop break")
    break
else:
  print("loop completed successfully" )

for nums in number:
  if nums == 10:
    print("number is found")
    break
else:
  print("number is not found")

1
2
3
Loop break
number is not found

In [26]:
count = 1
while count <= 5:
  print(count)
  count += 1

1
2
3
4
5

In [6]:
user_name = "sadaf"
password = "123456"
while user_name:
  user = input("Enter username: ")
  pswrd = input("Enter password: ")
  if user == user_name and pswrd == password:
    print("Logged in successfully")
    break
  else:
    print("Invalid username or password")

Enter username: jghhjg'
Enter password: jjk
Invalid username or password
Enter username: sadaf
Enter password: 123456
Logged in successfully

In [10]:
for i in range(10):
  if i == 6:
    continue
  print(i)

0
1
2
3
4
5
7
8
9

In [14]:
for outer in range (1,6):
  print(f"Multiplication table for: {outer}")
  for inner in range(1,6):
    print(f"{outer} * {inner} = {outer * inner}")
  print()

Multiplication table for: 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5

Multiplication table for: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

Multiplication table for: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

Multiplication table for: 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20

Multiplication table for: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [20]:
#factors of a number

num = int(input("Enter a number to know its factor: "))
factor = []
for i in range(1 , num + 1):
  # print(i)
  if i % 2 ==0 :
    factor.append(i)
print(factor)

Enter a number to know its factor: 10
1
2
3
4
5
6
7
8
9
10
[2, 4, 6, 8, 10]

In [6]:
fruits = ["apple", "banana", "cherry", "mango"]
print(fruits[0:3])
fruits.extend(["orange" , "pineapple" , "grapes"])
print(fruits)
print(fruits[:-2])
deltd = fruits.pop(1)
print(deltd)
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango', 'orange', 'pineapple', 'grapes']
['apple', 'banana', 'cherry', 'mango', 'orange']
banana
['apple', 'cherry', 'mango', 'orange', 'pineapple', 'grapes']

In [25]:
method_of_list = dir(list)
print([method for method in method_of_list if not method.startswith("__")])

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [10]:
num = 1
while num <= 10:
  print(num , end=" ")
  num += 1

1 2 3 4 5 6 7 8 9 10

In [11]:
numbers = [3, 1, 4, 1, 5, 9]
numbers.sort()
print(numbers)

[1, 1, 3, 4, 5, 9]

In [12]:
number1 = [4, 2, 9, 1]
number1.sort(reverse=True)
print(number1)

[9, 4, 2, 1]

In [13]:
words = ["apple", "kiwi", "banana"]
words.sort(key=len)
print(words)

['kiwi', 'apple', 'banana']

In [15]:
names = ["Ali", "Zara", "Hassan", "Areeba", "Bilal"]
names.sort(key=lambda name:name[-1])
print(names)

['Zara', 'Areeba', 'Ali', 'Bilal', 'Hassan']