<a href="https://colab.research.google.com/github/sadafshahab12/list-comprehension-generator-function-OOP/blob/main/ControlFlow_%2B_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = int(input("Enter a number: "))
if num > 0:
  if num % 2 ==0:
    print("The number is positive and even.")
  else:
    print("The number is positive but odd.")

else:
  print("The number is negative.")

Enter a number: 3
The number is postive but odd.

In [ ]:
def check_status_code(code):
  match code:
    case 200:
      return "OK"
    case 400:
      return "Bad Request"
    case 401:
      return "Unauthorized"
    case 403:
      return "Forbidden"
    case 404:
      return "Not Found"

check_status_code(403)

'Forbidden'

In [ ]:
number = [1,2,3,4,5]
for num in number:
  print(num)
  if num == 3:
    print("Loop break")
    break
else:
  print("loop completed successfully" )

for nums in number:
  if nums == 10:
    print("number is found")
    break
else:
  print("number is not found")

1
2
3
Loop break
number is not found

In [ ]:
count = 1
while count <= 5:
  print(count)
  count += 1

1
2
3
4
5

In [ ]:
user_name = "sadaf"
password = "123456"
while user_name:
  user = input("Enter username: ")
  pswrd = input("Enter password: ")
  if user == user_name and pswrd == password:
    print("Logged in successfully")
    break
  else:
    print("Invalid username or password")

Enter username: jghhjg'
Enter password: jjk
Invalid username or password
Enter username: sadaf
Enter password: 123456
Logged in successfully

In [ ]:
for i in range(10):
  if i == 6:
    continue
  print(i)

0
1
2
3
4
5
7
8
9

In [ ]:
for outer in range (1,6):
  print(f"Multiplication table for: {outer}")
  for inner in range(1,6):
    print(f"{outer} * {inner} = {outer * inner}")
  print()

Multiplication table for: 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5

Multiplication table for: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

Multiplication table for: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

Multiplication table for: 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20

Multiplication table for: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [ ]:
#factors of a number

num = int(input("Enter a number to know its factor: "))
factor = []
for i in range(1 , num + 1):
  # print(i)
  if i % 2 ==0 :
    factor.append(i)
print(factor)

Enter a number to know its factor: 10
1
2
3
4
5
6
7
8
9
10
[2, 4, 6, 8, 10]

In [ ]:
fruits = ["apple", "banana", "cherry", "mango"]
print(fruits[0:3])
fruits.extend(["orange" , "pineapple" , "grapes"])
print(fruits)
print(fruits[:-2])
deltd = fruits.pop(1)
print(deltd)
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango', 'orange', 'pineapple', 'grapes']
['apple', 'banana', 'cherry', 'mango', 'orange']
banana
['apple', 'cherry', 'mango', 'orange', 'pineapple', 'grapes']

In [ ]:
method_of_list = dir(list)
print([method for method in method_of_list if not method.startswith("__")])

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
num = 1
while num <= 10:
  print(num , end=" ")
  num += 1

1 2 3 4 5 6 7 8 9 10

In [ ]:
numbers = [3, 1, 4, 1, 5, 9]
numbers.sort()
print(numbers)

[1, 1, 3, 4, 5, 9]

In [ ]:
number1 = [4, 2, 9, 1]
number1.sort(reverse=True)
print(number1)

[9, 4, 2, 1]

In [ ]:
words = ["apple", "kiwi", "banana"]
words.sort(key=len)
print(words)

['kiwi', 'apple', 'banana']

In [ ]:
names = ["Ali", "Zara", "Hassan", "Areeba", "Bilal"]
names.sort(key=lambda name:name[-1])
print(names)
names.reverse()
print(names)

['Zara', 'Areeba', 'Ali', 'Bilal', 'Hassan']
['Hassan', 'Bilal', 'Ali', 'Areeba', 'Zara']

In [ ]:
my_tuple = (1,2,3)
hashed_value = hash(my_tuple)
print(20 in my_tuple)
# my_tuple.append(6)
indexing = my_tuple.index(2)
print(hashed_value)
print(indexing)

False
529344067295497451
1

In [ ]:
student = {
    "name": "hina",
    "class" : 4
}
student_class = student.get("class")
print(student_class)
student["phone_number"] = '+923402195735'
student["address"] = 'korangi town karachi'
print(student)
del student["class"]
print("deleted class: " , student)
delete_address = student.pop("address")
print("deleted address: " , student)
student["age"] = 15
print(student.get("age" , -1))
print(student.keys())
print(student.values())
print(student.items())
student.update({"age" : 28})
print(student)
student.clear()
print(student)

4
{'name': 'hina', 'class': 4, 'phone_number': '+923402195735', 'address': 'korangi town karachi'}
deleted class:  {'name': 'hina', 'phone_number': '+923402195735', 'address': 'korangi town karachi'}
deleted address:  {'name': 'hina', 'phone_number': '+923402195735'}
15
dict_keys(['name', 'phone_number', 'age'])
dict_values(['hina', '+923402195735', 15])
dict_items([('name', 'hina'), ('phone_number', '+923402195735'), ('age', 15)])
{'name': 'hina', 'phone_number': '+923402195735', 'age': 28}
{}

In [53]:
phonebook = {
    "John": "555-1234",
    "Emma": "555-5678",
    "Liam": "555-8765",
    "Olivia": "555-4321",
    "Sophia": "555-1357"
}


name = input("Enter a name to search: ")

for key in phonebook:
    if key.lower()==name:
      print(f"{key}'s phone number is {phonebook[key]}.")
      break
else:
    print(f"{name} is not in the phonebook.")

print (key in phonebook )

Enter a name to search: emma
Emma's phone number is 555-5678.
True

In [63]:
sentence = """
**Projected Economy Size of AI:**

The projected economy size of AI is significant, with estimates varying depending on the source and methodology. Here are some notable projections:

1. **Global AI Market Size:**
	* By 2025: $190 billion (Source: MarketsandMarkets)
	* By 2030: $1.5 trillion (Source: PwC)
2. **AI-Driven Economic Growth:**
	* By 2025: AI is expected to contribute 10% to global GDP growth (Source: Accenture)
	* By 2030: AI is expected to contribute 14% to global GDP growth (Source: PwC)
3. **AI-Generated Revenue:**
	* By 2025: AI is expected to generate $15.7 trillion in revenue (Source: IDC)
	* By 2030: AI is expected to generate $33.5 trillion in revenue (Source: McKinsey)
4. **Job Market Impact:**
	* By 2025: AI is expected to create 133 million new jobs globally (Source: World Economic Forum)
	* By 2030: AI is expected to automate 30% of current jobs globally (Source: McKinsey)

**Industry-Specific Projections:**

1. **Healthcare:**
	* By 2025: AI is expected to generate $150 billion in revenue (Source: MarketsandMarkets)
2. **Financial Services:**
	* By 2025: AI is expected to generate $100 billion in revenue (Source: Accenture)
3. **Manufacturing:**
	* By 2025: AI is expected to generate $50 billion in revenue (Source: IDC)
4. **Transportation:**
	* By 2025: AI is expected to generate $20 billion in revenue (Source: MarketsandMarkets)

**Regional Projections:**

1. **North America:**
	* By 2025: AI is expected to generate $100 billion in revenue (Source: MarketsandMarkets)
2. **Europe:**
	* By 2025: AI is expected to generate $50 billion in revenue (Source: IDC)
3. **Asia-Pacific:**
	* By 2025: AI is expected to generate $200 billion in revenue (Source: MarketsandMarkets)

Note: These projections are based on various assumptions, including the pace of AI development, adoption rates, and economic trends. The actual economy size of AI may vary depending on several factors.

"""
words = sentence.split()
# print(words)
word_count = {}
for word in words:
  # print(word)
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1
print(word_count)

{'**Projected': 1, 'Economy': 1, 'Size': 1, 'of': 5, 'AI:**': 1, 'The': 2, 'projected': 1, 'economy': 2, 'size': 2, 'AI': 17, 'is': 14, 'significant,': 1, 'with': 1, 'estimates': 1, 'varying': 1, 'depending': 2, 'on': 3, 'the': 2, 'source': 1, 'and': 2, 'methodology.': 1, 'Here': 1, 'are': 2, 'some': 1, 'notable': 1, 'projections:': 1, '1.': 3, '**Global': 1, 'Market': 2, 'Size:**': 1, '*': 15, 'By': 15, '2025:': 11, '$190': 1, 'billion': 8, '(Source:': 15, 'MarketsandMarkets)': 5, '2030:': 4, '$1.5': 1, 'trillion': 3, 'PwC)': 2, '2.': 3, '**AI-Driven': 1, 'Economic': 2, 'Growth:**': 1, 'expected': 13, 'to': 15, 'contribute': 2, '10%': 1, 'global': 2, 'GDP': 2, 'growth': 2, 'Accenture)': 2, '14%': 1, '3.': 3, '**AI-Generated': 1, 'Revenue:**': 1, 'generate': 9, '$15.7': 1, 'in': 9, 'revenue': 9, 'IDC)': 3, '$33.5': 1, 'McKinsey)': 2, '4.': 2, '**Job': 1, 'Impact:**': 1, 'create': 1, '133': 1, 'million': 1, 'new': 1, 'jobs': 2, 'globally': 2, 'World': 1, 'Forum)': 1, 'automate': 1, '30%': 1, 'current': 1, '**Industry-Specific': 1, 'Projections:**': 2, '**Healthcare:**': 1, '$150': 1, '**Financial': 1, 'Services:**': 1, '$100': 2, '**Manufacturing:**': 1, '$50': 2, '**Transportation:**': 1, '$20': 1, '**Regional': 1, '**North': 1, 'America:**': 1, '**Europe:**': 1, '**Asia-Pacific:**': 1, '$200': 1, 'Note:': 1, 'These': 1, 'projections': 1, 'based': 1, 'various': 1, 'assumptions,': 1, 'including': 1, 'pace': 1, 'development,': 1, 'adoption': 1, 'rates,': 1, 'economic': 1, 'trends.': 1, 'actual': 1, 'may': 1, 'vary': 1, 'several': 1, 'factors.': 1}

Always use get() or check if the key exists with in to avoid error.