<a href="https://colab.research.google.com/github/sadafshahab12/list-comprehension-generator-function-OOP/blob/main/Datat_types_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = [1, "two", 3.0, False, None]
for types in data:
  print(f"The type of {types} is : {type(types)}")

The type of 1 is : <class 'int'>
The type of two is : <class 'str'>
The type of 3.0 is : <class 'float'>
The type of False is : <class 'bool'>
The type of None is : <class 'NoneType'>

In [ ]:
s = "456"
print(type(s))
integer= int(s)
print(type(integer))
print(s)
print(integer)

<class 'str'>
<class 'int'>
456
456

In [ ]:
name= input("Enter your name: ")
# integer_name = int(name) # if we convert string into integer it will throw value error
print(type(name))
# print(type(integer_name))

Enter your name: sadaf
<class 'str'>

In [ ]:
z = 10 // 3
print(type(z))
print(z)

<class 'int'>
3

In [ ]:
types_of = type(4 > 2)
print(types_of)

<class 'bool'>

In [ ]:
x = [1, 2, 3]
print(type(x))

<class 'list'>

In [ ]:
b = 3.14
print(type(b))
b_as_str = str(b)
print(type(b_as_str))

<class 'float'>
<class 'str'>

In [ ]:
z = 8 + 4j
print(type(z))
print (z.real)
print(z.imag)

<class 'complex'>
8.0
4.0

In [ ]:
num_range = range(1, 0, 8)
print(num_range)
print(num_range.step)
print(type(num_range))

range(1, 0, 8)
8
<class 'range'>

In [ ]:
for i in range(1 , 10 , 2):
  print(i)

1
3
5
7
9

In [ ]:
def even_odd_checker (num):

In [1]:
friends_1 = {"Alice", "Bob", "Charlie", "David"}
friends_2 = {"Charlie", "David", "Eve", "Frank"}

mutual_friends = friends_1.intersection(friends_2)

print(mutual_friends)

{'David', 'Charlie'}

In [2]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

# Accessing a value using the key
my_dict["age"] = 40

# Printing the value
print(my_dict)

{'name': 'Alice', 'age': 40, 'city': 'New York'}

In [3]:
numbers = [1, 2, 3, 4, 5]

# Using for loop to print each number
for number in numbers:
    print(number)

1
2
3
4
5

In [4]:
scores = {"Alice": 85, "Bob": 90, "Charlie": 78, "David": 92}

# Using for loop to print each student's name and score
for student, score in scores.items():
    print(f"{student} scored {score}")

Alice scored 85
Bob scored 90
Charlie scored 78
David scored 92

In [5]:
def greet(name, age):
    print(f"Hello {name}, you are {age} years old.")

# Calling the function with keyword arguments
greet(age=25, name="Alice")

Hello Alice, you are 25 years old.