<a href="https://colab.research.google.com/github/sadafshahab12/list-comprehension-generator-function-OOP/blob/main/list_comprehension_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 🔁 Basic Loop Practice
Print numbers 1 to 10 using a for loop.

Print the square of each number from 1 to 10.

Print all even numbers from 1 to 20.

Create a list of numbers from 1 to 100 that are divisible by 7.

Print each character in the string "Python".

### 📋 List Comprehension Practice
Create a list of squares from 1 to 20 using list comprehension.

Make a list of all the vowels in "List Comprehension is Cool" using comprehension.

From a list of numbers [12, 5, 8, 130, 44], make a new list that contains only numbers greater than 10.

Create a list of all even numbers between 1 and 100 using list comprehension.

Convert a list of temperatures from Celsius to Fahrenheit.
Example: temps_c = [0, 20, 30, 40] → temps_f = [32.0, 68.0, 86.0, 104.0]

### 🧠 Advanced List Comprehension
Flatten a 2D list using a list comprehension.
Example: [[1, 2], [3, 4]] → [1, 2, 3, 4]

Filter and square only the odd numbers from 1 to 20.

Given a list of words, return a list of the lengths of words greater than 3 characters.

Given a sentence, return all words that start with a vowel.

### 🗂️ Dictionary Comprehension Practice
Create a dictionary from two lists:

keys = ['a', 'b', 'c']
values = [1, 2, 3]
→ {'a': 1, 'b': 2, 'c': 3}
Swap keys and values in a dictionary.
Example: {'a': 1, 'b': 2} → {1: 'a', 2: 'b'}

Create a dictionary of numbers and their squares for numbers 1–10.

Filter a dictionary to keep only items where the value is even.

Create a dictionary from a string with letters as keys and their frequencies as values.

In [11]:
for x in range(0,10):
  print (x + 1  , end=" ")

1 2 3 4 5 6 7 8 9 10

In [15]:
for x in range (0 , 10):
  print((x+1) ** 2,end=" ")

1 4 9 16 25 36 49 64 81 100

In [18]:
squared = [(x + 1) ** 2 for x in range(0 , 10)]
print(squared)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
for x in range(0 , 21):
  if x % 2 == 0:
    print(x , end=" ")

even_num = [num for num in range(0 , 21) if num % 2 == 0]
print(f"Even Number: {even_num}")

0 2 4 6 8 10 12 14 16 18 20 Even Number: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
for num in range(0 , 101):
  if num % 7 == 0:
    print(num, end=" ")

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [33]:
name = "Python"
for char in name:
  print(char , end=" ")

P y t h o n

In [34]:
square = [x ** 2 for x in range(0,21)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [37]:
sentence= "List Comprehension is Cool"
list_of_vowels = [vowels for vowels in sentence if vowels.lower() in "aeiou"]
print(list_of_vowels)

['i', 'o', 'e', 'e', 'i', 'o', 'i', 'o', 'o']

In [44]:
numbers = [12, 5, 8, 130, 44, 11 ,10]
greater = [num for num in numbers if num > 10]
print(greater)

[12, 130, 44, 11]

In [45]:
even_number_list = [even for even in range(0,101) if even % 2 == 0]
print(even_number_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [48]:
celcius = [0, 20, 30, 40]
celcius_to_fah = [(cel * 9/5) + 32 for cel in celcius ]
print(celcius_to_fah)

[32.0, 68.0, 86.0, 104.0]

In [50]:
nested_list = [[1, 2], [3, 4]]
merge = [item for sublist in nested_list for item in sublist]
print(merge)

[1, 2, 3, 4]

In [51]:
odd_num_sq = [odd ** 2 for odd in range(0 , 21) if odd % 2 != 0 ]
print(odd_num_sq)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [56]:
list_word = ["cat" , "dog" , "camel" , "book" , "matter" , "laptop" , "fries" , "momentum"]
length_words =[len(word) for word in list_word if len(word) > 3]
print(length_words)

[6, 6, 8]

In [62]:
sentence = "Are you going to the store, What is your name, Do you like ice cream, Why are you sad, and When will you come back."
vowel_words = [vowels_word for vowels_word in sentence.split() if vowels_word[0].lower() in "aeiou"]
print(vowel_words)
print (sentence.split())

['Are', 'is', 'ice', 'are', 'and']
['Are', 'you', 'going', 'to', 'the', 'store,', 'What', 'is', 'your', 'name,', 'Do', 'you', 'like', 'ice', 'cream,', 'Why', 'are', 'you', 'sad,', 'and', 'When', 'will', 'you', 'come', 'back.']

### **Dictionary Comprehension Practice**

In [72]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
result = dict(zip(keys,values))
print(result)
print(dict())

{'a': 1, 'b': 2, 'c': 3}
{}

In [71]:
original = {'a': 1, 'b': 2}
print("Orignal key return key and value",original.items())
swapped = {value: key for key, value in original.items()}
print(swapped)

Orignal key return key and value dict_items([('a', 1), ('b', 2)])
{1: 'a', 2: 'b'}

"Hey Python, for every key-value pair in the original dictionary, make a new pair where the value becomes the key, and the key becomes the value."

In [79]:
print({key: key ** 2 for key in range(1, 10)})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [80]:
numbers = {'a': 1, 'b': 4, 'c': 7, 'd': 10, 'e': 3, 'f': 8}
even_item = {key: value for key, value in numbers.items() if value % 2 == 0}
print(even_item)

{'b': 4, 'd': 10, 'f': 8}

In [85]:
text = "dictionary"
my_dict = {char: text.count(char) for char in text}
print(my_dict)

1
{'d': 1, 'i': 2, 'c': 1, 't': 1, 'o': 1, 'n': 1, 'a': 1, 'r': 1, 'y': 1}

In [90]:
items = [("apple", 1), ("banana", 2), ("chocolate", 3)]
names = [name for name , price in items]
price_based_name = [name for name , price in items if price > 1]
print("Name:", names)
print("Price based name greater than 1",price_based_name)

Name: ['apple', 'banana', 'chocolate']
Price based name greater than 1 ['banana', 'chocolate']

In [92]:
clothes = ["shirt", "pants", "hat"]
add_clean = [item + " clean" for item in clothes]
print(add_clean)

['shirt clean', 'pants clean', 'hat clean']

In [93]:
grades = [85, 40, 67, 90, 55]
pass_fail = ["Pass" if grade > 50 else "Fail" for grade in grades]
print(pass_fail)

['Pass', 'Fail', 'Pass', 'Pass', 'Pass']

In [94]:
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
lower_case = [day.lower() for day in days]
print(lower_case)

['monday', 'tuesday', 'wednesday', 'thursday', 'friday']