<a href="https://colab.research.google.com/github/sadafshahab12/list-comprehension-generator-function-OOP/blob/main/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#unary operator
x = 5
y = -x
print(y)

-5

In [ ]:
a = True
b = not a
print(b)

False

In [ ]:
c = 5
d = ~ c
print(d)
print(bin(d))

-6
-0b110

In [ ]:
#Floor division
j = 5
k = 3
floor_division = j // k
print(not(j > k))
print(floor_division)

False
1

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b)
print(a == b)
print(a is not b)

False
True
True

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(4 not in my_list)

False

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
print(2 + 3 * 4)
print("Na" * 4 + " Batman!")

14
NaNaNaNa Batman!

In [ ]:
x = 22
print(bin(x))
print(format(x, "b"))

0b10110
10110

In [ ]:
name = "alice"
age = 22
print("{} is {} years old.".format(name, age))

alice is 22 years old.

In [ ]:
pi = 3.14159265
print("Pi is approximately {:.2f}".format(pi))

Pi is approximately 3.14

In [ ]:
num = int(input("Enter a number:"))
if num >= 10 and num <= 20:
  print(True)
else:
  print(False)

Enter a number:20
True

In [ ]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
if num1 > num2 * 2:
  print(f"{num1} is greater than {num2} = {num2 * 2}")
else:
  print(f"{num1} is not greater than {num2} = {num2 * 2}")

Enter first number:20
Enter second number:9
20 is greater than 9 = 18

In [ ]:
program = "Python"
user_input = input("Enter Python here:")
if user_input != program:
  print("Wrong")
else:
  print("Correct")

Enter Python here:Python
Correct

In [ ]:
x = 15
print(10 <= x <= 20)  # True

True

In [ ]:
print("apple" > "banana")  # True

False

In [7]:
data  = (input("Enter a number: "))
n = len(data)
if n > 10:
  print("Too Long")
else:
  print("Too Short")

Enter a number: 2222222
Too Short

In [8]:
data1  = (input("Enter a number: "))

if (n := len(data1)) > 10:
  print("Too Long")
else:
  print("Too Short")

Enter a number: hhhhhhhhhhhhhhhhhhhhh
Too Long

In [11]:
a: list = [1, 2, 3]
b: list = [1, 2, 3]
c: list = a
print(a is c)

True

In [15]:
x = 20
print(x)
del x
print(x)

20

NameError: name 'x' is not defined