<a href="https://colab.research.google.com/github/sadafshahab12/list-comprehension-generator-function-OOP/blob/main/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
my_set = {123, 452, 5, 6}
my_set = {(123, 452, 5, 6)}
print(my_set)

{(123, 452, 5, 6)}

In [10]:
#unordered
set2 = {'Java', 'Python', 'JavaScript', 'java'}
print(set2)

{'Python', 'Java', 'JavaScript', 'java'}

In [18]:
my_setss = {1,2,3,4,5}
print(my_setss)

try:
  my_setss.add(6)
  print(my_setss)
  my_setss.remove(8)
  print(my_setss)
except Exception as e:
  print(e)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
8

In [24]:
fruits = {"apple", "banana", "cherry", "mango"}
fruits.remove("banana")
print(fruits)
fruits.discard("yellow")
print(fruits)

{'cherry', 'apple', 'mango'}
{'cherry', 'apple', 'mango'}

In [31]:
nums = {1, 2, 3, 4, 5, 6, 7, 8}
for num in nums.copy():
  if num % 2 ==0:
    nums.remove(num)

print(nums)

{1, 3, 5, 7}

In [35]:
students = {"Ali", "Sara", "Zain", "Fatima"}
if "Zain" in students:
  students.remove("Zain")
print(students)

{'Ali', 'Sara', 'Fatima'}

**difference_update():**

Aapke original set me se wo elements hata deta hai jo doosre set me bhi hain.

Ye directly original set ko modify karta hai (return nahi karta naya set).

In [2]:
a = {1, 2, 3, 4}
b = {3, 4, 5}

b.difference_update(a)
print(b)

{5}

**Comparison with difference():**
a.difference(b) ➡️ naya set return karta hai (original change nahi hota).

a.difference_update(b) ➡️ original set a ko hi change kar deta hai.

**difference_update** = jo cheezein common hain, unko hata do.

In [9]:
my_set = {1, 2, 3, 5}
my_set_2 = {1, 5, 6, 7}
print(my_set | my_set_2)
my_set_2.pop()
print(my_set_2)
my_set.pop()
print(my_set)
my_set_2.pop()
print(my_set_2)

{1, 2, 3, 5, 6, 7}
{5, 6, 7}
{2, 3, 5}
{6, 7}

.pop() removes one arbitrary element, not always the "first" logically.

**Original sets remain unchanged**: The original sets are not modified by the union operation.

In [11]:
my_set  = {1,2,3,4,5, "Hello! World"}
my_dict = {"set_of": my_set}
print(my_dict)

{'set_of': {1, 2, 3, 4, 5, 'Hello! World'}}

In [20]:
my_set5 = {10, 3, 5, 8}
my_set5.add(11)
print(my_set5)
my_set5.add(22)
print(my_set5)
my_set5.add(20)

print(my_set5)

{3, 5, 8, 10, 11}
{3, 5, 8, 10, 11, 22}
{3, 5, 8, 10, 11, 20, 22}

In [22]:
my_frozenset = frozenset([1,2,3, "Hello! World"])
print("my_frozenset  = ", my_frozenset)

my_frozenset  =  frozenset({'Hello! World', 1, 2, 3})

In [30]:
my_set = {1,2,3, "Hello! World", 4,5,6}
my_set_2 = {1,2,3, "Hello! World", 4,5,6}
print("symmetric_difference() = ", my_set.symmetric_difference(my_set_2))
print(my_set.isdisjoint(my_set_2))
print(my_set.issuperset(my_set_2))
print(my_set.issubset(my_set_2))

symmetric_difference() =  set()
False
True
True

In [ ]:
import gc

gc.collect()
print(gc.get_count())