<a href="https://colab.research.google.com/github/sadafshahab12/list-comprehension-generator-function-OOP/blob/main/StringCasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(r"\u0041 = ", "\u0041")

\u0041 =  A

In [ ]:
asking_to = "sadaf shahab where are you!"
print(asking_to)
splitted = asking_to.split()
print(" ".join(splitted))

country  = "pakistan"
splittedCountry = country.split()
print(splittedCountry)
print(', '.join(splittedCountry[0]))

sadaf shahab where are you!
sadaf shahab where are you!
['pakistan']
p, a, k, i, s, t, a, n

In [ ]:
my_string: str = "Hello, World! Hello, Pakistan"
findIndex = my_string.find("Hello")
print(findIndex)

0

In [ ]:
my_string: str = "Hello, World! Hello, Pakistan"
startingIndex  = my_string.find("Hello")
startingIndex2 = startingIndex + len("Hello")
print(startingIndex2)
print(my_string[startingIndex2:])
print(my_string[startingIndex2:].find("Hello"))

count_occurence = my_string.count("Hello")
print(count_occurence)

5
, World! Hello, Pakistan
9
2

In [ ]:
name = "Sadaf"
print('''my name is %s''' % (name))

my name is Sadaf

In [ ]:
full_name = "Sadaf Shahab"
age = 12
string_format = "My name is {} and I am {} years old.".format(full_name, age)
print(string_format)

My name is Sadaf Shahab and I am 12 years old.

In [ ]:
string_method = dir(str)
filtered_by_loop = ([method for method in string_method if not method.startswith("__")])
print(filtered_by_loop)

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
print("-" * 100)

----------------------------------------------------------------------------------------------------

In [ ]:
num_str: str = "3.15"
num_float = int(num_str) # skipped type hint to see what data type is assigned at runtime
print(num_float, type(num_float))

ValueError: invalid literal for int() with base 10: '3.15'

In [ ]:
print("bool(1) = ", bool(-1))

bool(1) =  True

In [ ]:
tup: tuple = (1, 2.7, 3, 'OB')
lst = list(tup) # skipped type hint to see what data type is assigned at runtime
print(lst, type(lst))

[1, 2.7, 3, 'OB'] <class 'list'>

In [ ]:
num = "25"
conversion = int(num)
print(conversion +10)

35

In [ ]:
num1 = 19.99
convert = int(num1)
print(convert)

19

In [ ]:
age = 30
age_str = str(age)
print( age_str + " years old")

30 years old

In [ ]:
flag = True
bool_to_int = int(flag)
print(bool_to_int)

1

In [ ]:
str_numbers = ["1", "2", "3", "4"]
str_int = [int(num) for num in str_numbers]
print(str_int)

[1, 2, 3, 4]

In [3]:
word = "Straße"
words= word.casefold()
print(words)

strasse

In [7]:
animal = "cat"
thing = "sun"
centered = animal.center(80, "-")
centered_sun = thing.center(9, "*")
print(centered)
print(centered_sun)

--------------------------------------cat---------------------------------------
***sun***

In [11]:
fruit = "apple"
count_substr= fruit.count("p")
new_str = "This is Mississippi"
count_sub_str = new_str.count("is")
print(count_sub_str)
print(count_substr)

4
2

In [13]:
print("Hello".encode()))

b'Hello'

In [17]:
print("photo.jpg".endswith(".jpg"))

True

In [21]:
print("1\t2\t3".expandtabs(20))

1                   2                   3

In [23]:
map_formating = "{name} is {age}".format_map({"name": "John" , "age": 23})
print(map_formating)

John is 23

In [ ]:
empty_string = "Test" * 0
print(empty_string)

In [1]:
lst = [1, 2, 2, 3, 4, 4, 5, "Agentic AI"]
my_set = set(lst)
print(my_set)

{1, 2, 3, 4, 5, 'Agentic AI'}

In [3]:
lists = [("name" , "Sadaf") , ("age" , "15")]
lst_to_dict = dict(lists)
print(lst_to_dict, type(lst_to_dict))

{'name': 'Sadaf', 'age': '15'} <class 'dict'>

In [4]:
num1 = 5
comp = complex(num1)
print(comp, type(comp))

(5+0j) <class 'complex'>